:root {
    --primary: #a4161a;
    --secondary: #e5383b;
    --gold: #ffd700;
    --text: #590d22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: radial-gradient(circle, #ffccd5, #ff758c);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/* APP */
.app-container {
    width: 90%;
    max-width: 500px;
    min-height: 85vh;
    max-height: 95vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    padding: 1rem;
    position: relative;
    overflow: visible;
}

/* SCREENS */
.screen {
    position: absolute;
    inset: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.6s;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
}

.active {
    opacity: 1;
    pointer-events: all;
}

/* TEXT */
h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: var(--primary);
}

h2 {
    color: var(--text);
    margin-bottom: 1.5rem;
}

/* BUTTONS */
.btn-primary,
.btn-secondary {
    padding: 0.8rem 2rem;
    border-radius: 40px;
    border: none;
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}

.btn-secondary {
    background: #c9184a;
}

/* OPTIONS */
.options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
}

.card-btn {
    padding: 1rem;
    border-radius: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.6);
    font-weight: 600;
}

/* IMAGES */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.image-card {
    border-radius: 15px;
    overflow: hidden;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* PHOTO */
.photo-container {
    background: white;
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.blur-img {
    width: 100%;
}

/* PROPOSAL */
.proposal-buttons {
    display: flex;
    gap: 1rem;
}

.btn-yes {
    background: #2dc653;
}

.btn-no {
    background: #d00000;
}

/* HEART */
.beating-heart-big {
    font-size: 5rem;
    animation: beat 1s infinite;
}

@keyframes beat {

    0%,
    100% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.3)
    }
}

/* RESPONSIVE */
@media (max-width:600px) {
    h1 {
        font-size: 2.2rem;
    }

    .options-grid {
        grid-template-columns: 1fr;
    }
}